$light_purple: #dcd2e5;                          
$dark_brown: #000000;
$orange: #faf8f6;
$purple: #080110;
$lavanda:#020003;
$black: #000000;
$white: #f7f4f4;
$lighter_purple: #df9598;
$lightest_purple: #cabed6;
$transparent_purple: #09010f99;
$transparent_lighter_purple: #a58aea99;
$pink: #ff7c91fc;
$green: rgb(178, 228, 178);