.history {
    margin: 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    h2 {
        font-weight: bold;
        font-size: 1.7rem;
    }
    ul {
        padding: 1rem;

        li {
            font-size: 1.2rem;
            margin-top: 0.5rem;
        }
    }
}